h1{
    color: rgb(11, 31, 31);
    

}
#aa1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #dcdbcd;

}
#aa1 #img{
    margin-top: 80px;
    border-radius: 50%;
    height: 190px;
    width: 200px;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Vanamo_Logo.png/512px-Vanamo_Logo.png");


}
.title{
    text-align: center;
    margin-top: 90px;
}
#aa2{
    
    display: flex;
    flex-direction: row;
    height:600px;

}
#bb1,#bb2{
    
    height: 500px;
    width: 50%;
}